<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier Enfant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="navbar"></div>
<div class="container">
    <h2>Modifier Enfant</h2>
    <form th:action="@{/enfants/update/{id}(id=${enfant.id})}" method="post" th:object="${enfant}">
        <input type="hidden" th:field="*{id}">

        <!-- Display backend validation errors for nom field -->
        <div th:if="${#fields.hasErrors('nom')}" class="alert alert-danger">
            <p th:text="${#fields.errors('nom')}"></p>
        </div>
        <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" class="form-control" id="nom" th:value="${enfant.nom}" th:field="*{nom}"  >
        </div>

        <!-- Display backend validation errors for prenom field -->
        <div th:if="${#fields.hasErrors('prenom')}" class="alert alert-danger">
            <p th:text="${#fields.errors('prenom')}"></p>
        </div>
        <div class="form-group">
            <label for="prenom">Prénom :</label>
            <input type="text" class="form-control" id="prenom" th:value="${enfant.prenom}" th:field="*{prenom}"  >
        </div>

        <!-- No validation needed for 'sexe' as it's a select option -->
        <div class="form-group">
            <label for="sexe">Sexe :</label>
            <select class="form-control" id="sexe" th:field="*{sexe}">
                <option value="MALE" th:selected="${enfant.sexe == 'MALE'}">Masculin</option>
                <option value="FEMALE" th:selected="${enfant.sexe == 'FEMALE'}">Féminin</option>
            </select>
        </div>

        <!-- Display backend validation errors for dateNaiss field -->
        <div th:if="${#fields.hasErrors('dateNaiss')}" class="alert alert-danger">
            <p th:text="${#fields.errors('dateNaiss')}"></p>
        </div>
        <div class="form-group">
            <label for="dateNaiss">Date de Naissance :</label>
            <input type="date" class="form-control" id="dateNaiss" th:value="${enfant.dateNaiss != null ? #dates.format(#dates.create(enfant.dateNaiss.year, enfant.dateNaiss.monthValue, enfant.dateNaiss.dayOfMonth), 'yyyy-MM-dd') : ''}" name="dateNaiss">

        </div>
        <button type="submit" class="btn btn-primary">Soumettre</button>
    </form>
</div>
</body>
</html>
