<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Enfants</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div th:replace="navbar"></div>
<body>
<div class="container">
    <h2>Liste des Enfants</h2>
    <a href="/enfants/add" class="btn btn-success">Ajouter un Enfant</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Sexe</th>
            <th>Date de Naissance</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="enfant : ${enfants}">
            <td th:text="${enfant.id}"></td>
            <td th:text="${enfant.nom}"></td>
            <td th:text="${enfant.prenom}"></td>
            <td th:text="${enfant.sexe}"></td>
            <td th:text="${enfant.dateNaiss}"></td>
            <td>
                <a th:href="@{/enfants/edit/{id}(id=${enfant.id})}" class="btn btn-primary btn-sm">Modifier</a>
                <!-- Add confirmation dialog for deletion -->
                <a th:href="@{/enfants/delete/{id}(id=${enfant.id})}" class="btn btn-danger btn-sm"
                   onclick="return confirmDelete()">Supprimer</a>

            </td>
        </tr>
        </tbody>

    </table>
    <script>
        function confirmDelete() {
            return confirm("Êtes-vous sûr de vouloir supprimer ? Cette action est irréversible.");
        }
    </script>

    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>


</div>

</body>
</html>
