<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Inscriptions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="navbar"></div>
<div class="container">
    <h2>Liste des Inscriptions</h2>

    <!-- Form for filtering inscriptions -->
    <form th:action="@{/enfants/listInscription}" method="get">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="stageName">Nom du Stage :</label>
                <input type="text" class="form-control" id="stageName" name="stageName">
            </div>
            <div class="form-group col-md-6">
                <label for="isPaid">Payé :</label>
                <select class="form-control" id="isPaid" name="isPaid">
                    <option value="">-- Sélectionnez --</option>
                    <option value="true">Payé</option>
                    <option value="false">Non Payé</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Appliquer les Filtres</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Enfant</th>
            <th>Stage</th>
            <th>Payé</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="inscription : ${inscriptions}">
            <td th:text="${inscription.id}"></td> <!-- Utilisez un accès direct à la propriété -->
            <td th:text="${inscription.enfant.nom + ' ' + inscription.enfant.prenom}"></td> <!-- Accédez au nom de l'enfant -->
            <td th:text="${inscription.stage.denom}"></td> <!-- Accédez à la dénomination du stage -->
            <td th:text="${inscription.paye}"></td> <!-- Accédez au statut de paiement -->
            <td>
                <!-- Ajoutez une boîte de dialogue de confirmation pour la suppression -->
                <form th:action="@{/enfants/inscription/delete/{id}(id=${inscription.id})}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette inscription ?')">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Button to navigate to add inscription page -->
    <a th:href="@{/enfants/addInscription}" class="btn btn-primary">Ajouter une Nouvelle Inscription</a>

</div>
</body>
</html>
