<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stage List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div th:replace="navbar"></div>
<body>
<div class="container">
    <h2>Stage List</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Denomination</th>
            <th>Age Range</th>
            <th>Date Start</th>
            <th>Date End</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stage : ${stages}">
            <td th:text="${stage.id}"></td>
            <td th:text="${stage.denom}"></td>
            <td th:text="${stage.ageMin} + ' - ' + ${stage.ageMax}"></td>
            <td th:text="${stage.dateDeb}"></td>
            <td th:text="${stage.dateFin}"></td>
            <td>
                <a th:href="@{/enfants/stages/edit/{id}(id=${stage.id})}" class="btn btn-primary btn-sm">Edit</a>
                <a th:href="@{/enfants/stages/delete/{id}(id=${stage.id})}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/enfants/stages/add" class="btn btn-success">Add Stage</a>
</div>
</body>
</html>
